BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
DerivePointerAlignment: true
UseTab: ForIndentation
